/* Upper Trip Bars (Details & Weather) */
.center {
    display: flex;
    justify-content: space-evenly;
}
.trip-details {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50vw;
    position: relative;
    /* top: -15px; */

}
.coordinates {
    font-size: 16px !important;
    position: relative;
    top: 22px;
}
.weather-bar {
    display: flex;
    justify-content: center;
}
.loc-form-div {
    padding-top: 25px;
}


/* Item Columns for Clothing, Toiletries, Electronics, & Special */
h4 {
    margin-block-start: 10px;
    margin-block-end: 8px;
}
p {
    margin-block-start: 5px;
    margin-block-end: 5px;
}
.item-columns {
    display: flex;
    margin: 0 50px;
    justify-content: center;
    flex-wrap: wrap;
}
.item-columns h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.item-columns > div {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    border: solid;
    margin: 0 5px 20px 0;
    width: 350px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.add-item {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}
ul {
    margin: 0;
}
.list-and-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: none;
    padding-right: 10px;
}
.delete.btn {
    /* height: 1vh;
    width: 3vw; */
    display: flex;
    flex-direction: column;
    align-content: center;
}

.weather-bar {
    /* color: white; */
    overflow: hidden;
}

.weather-bar iframe {
    margin-top: -150px;
    overflow: hidden;

}

iframe > html {
    overflow: hidden;
}