/* Upper Trip Bars (Details & Weather) */
.morph-bar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.details-text {
    display: flex;
    justify-content: center;
    width: 600px;
}
.details-text div {
    margin-right: 10px;
}
.trip-details {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50vw;
    position: relative;
    /* top: -15px; */
}
.center {
    display: flex;
    justify-content: center;
    text-align: center;
    word-wrap: break-word;
    margin: 15px 10px;
}
.center a { 
    width: 500px;
    background:white;
    opacity: 0.85;
    font-size: 14px;
}

/* Geolocate for Latitude & Longitude */
.lat-lng-search {
    padding-top: 5px;
    margin-bottom: 20px;
}
.coordinates {
    font-size: 16px !important;
    position: relative;
    top: 5px;
}

/* Weather Forecast Bar */
.weather-bar {
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.weather-bar iframe {
    margin-top: -160px;
    height: 600px;
    overflow: hidden;
    background:white;
    opacity: 0.85;
}
iframe html{
    overflow: hidden !important;
}

/* Item Columns for Clothing, Toiletries, Electronics, & Special */
h4 {
    margin-block-start: 10px;
    margin-block-end: 8px;
}
p {
    margin-block-start: 5px;
    margin-block-end: 5px;
}
.item-columns {
    display: flex;
    margin: 15px 50px;
    justify-content: center;
    flex-wrap: wrap;
}
.item-columns h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.item-columns > div {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    border: solid;
    margin: 0 5px 20px 0;
    width: 350px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.item-column {
    background:white;
    opacity: 0.8;
    border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
}
.add-item {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}
ul {
    margin: 0;
}
.list-and-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: none;
    padding-right: 10px;
}
.delete.btn {
    /* height: 1vh;
    width: 3vw; */
    display: flex;
    flex-direction: column;
    align-content: center;
}
