nav {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  background: black;
  color: white;
  height: 35px;
  padding-top: 5px;
}
.centralMSG {
  margin: 0 20px;
}

.login-signup {
  display: flex;
  flex-direction: column;
}
.login-signup > * {
  display: flex;
  justify-content: center;
}

/*------------------ Login Pages ------------------*/
.signup-background {
    background-image: url(/images/backgrounds/cubicle.jpg); 
    background-size: cover; 
    background-repeat: no-repeat; 
  }
  .login-background {
    background-image: url(/images/backgrounds/japanese-doors3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #login-menu {
    padding: 30px; }
  .error-message {
    color: red;
    font-size: 18px;
    text-align: center;
  }
  #custom-page {
    padding: 50px;
  }
  
  /*------------------ Social Registration Screen ------------------*/
  .form-control {
    font-size: 14px;
    transition: all 0.4s;
    box-shadow: none;
    opacity: 0.5;
  }
  .form-control:focus {
      border-color: #5cb85c;
    }
    .form-control, .btn {
      border-radius: 50px;
      outline: none !important;
    }
  .signup-form {
    width: 480px;
    margin: 0 auto;
    padding: 30px 0;
    opacity: 0.9;
  }
    .signup-form form {
      border-radius: 5px;
      margin-bottom: 20px;
      background: #fff;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 40px;
    }
  .signup-form a {
    color: #5cb85c;
  }    
  .signup-form h2 {
    text-align: center;
    font-size: 34px;
    margin: 10px 0 15px;
  }
  .signup-form .hint-text {
    color: #999;
    text-align: center;
    margin-bottom: 20px;
  }
  .signup-form .form-group {
    margin-bottom: 20px;
  }
    .signup-form .btn {        
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    }
  .signup-btn {
    text-align: center;
    border-color: #5cb85c;
    transition: all 0.4s;
  }
  .signup-btn:hover {
    background: #5cb85c;
    opacity: 0.8;
  }
    .or-seperator {
      margin: 50px 0 15px;
      text-align: center;
      border-top: 1px solid #e0e0e0;
    }
    .or-seperator b {
      padding: 0 10px;
      width: 40px;
      height: 40px;
      font-size: 14px;
      text-align: center;
      line-height: 40px;
      background: #fff;
      display: inline-block;
      border: 1px solid #e0e0e0;
      border-radius: 50%;
      position: relative;
      top: -22px;
      z-index: 1;
    }
    .social-btn .btn {
      color: #fff;
      margin: 10px 0 0 15px;
      font-size: 15px;
      border-radius: 50px;
      font-weight: normal;
      border: none;
      transition: all 0.4s;
    }	
  .social-btn .btn:first-child {
    margin-left: 0;
  }
  .social-btn .btn:hover {
    opacity: 0.8;
  }
  .social-btn .btn-primary {
    background: #507cc0;
  }
  .social-btn .btn-info {
    background: #64ccf1;
  }
  .social-btn .btn-danger {
    background: #df4930;
  }
  .social-btn .btn i {
    float: left;
    margin: 3px 10px;
    font-size: 20px;
  }
  
  
  /*------------------ Social Login Screen ------------------*/
  .form-control {
    font-size: 14px;
    transition: all 0.4s;
    box-shadow: none;
  }
  .form-control:focus {
    border-color: #5cb85c;
  }
  .form-control, .btn {
    border-radius: 50px;
    outline: none !important;
  }
  .signin-form {
    width: 425px;
    margin: 0 auto;
    padding: 30px 0;
    opacity: 0.9;
  }
  .signin-form form {
    border-radius: 5px;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 40px;
  }
  .signin-form a {
    color: #5cb85c;
  }    
  .signin-form h2 {
    text-align: center;
    font-size: 34px;
    margin: 10px 0 15px;
  }
  .signin-form .hint-text {
    color: #999;
    text-align: center;
    margin-bottom: 20px;
  }
  .signin-form .form-group {
    margin-bottom: 20px;
  }
  .signin-form .btn {        
    font-size: 18px;
    line-height: 26px;        
    font-weight: bold;
    text-align: center;
  }
  .signin-form .small {
    font-size: 13px;
  }
  .signup-btn {
    text-align: center;
    border-color: #5cb85c;
    transition: all 0.4s;
  }
  .signup-btn:hover {
    background: #5cb85c;
    opacity: 0.8;
  }
  .or-seperator {
    margin: 50px 0 15px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
  }
  .or-seperator b {
    padding: 0 10px;
    width: 40px;
    height: 40px;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -22px;
    z-index: 1;
  }
  .social-btn .btn {
    color: #fff;
    margin: 10px 0 0 30px;
    font-size: 15px;
    width: 55px;
    height: 55px;
    line-height: 38px;
    border-radius: 50%;
    font-weight: normal;
    text-align: center;
    border: none;
    transition: all 0.4s;
  }	
  .social-btn .btn:first-child {
    margin-left: 0;
  }
  .social-btn .btn:hover {
    opacity: 0.8;
  }
  .social-btn .btn-primary {
    background: #507cc0;
  }
  .social-btn .btn-info {
    background: #64ccf1;
  }
  .social-btn .btn-danger {
    background: #df4930;
  }
  .social-btn .btn i {
    font-size: 20px;
  }
  
  .social-btns .btn,
  .social-btns .btn:before,
  .social-btns .btn .fa {
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
  }
  .social-btns .btn:before {
    top: 90%;
    left: -110%;
  }
  .social-btns .btn .fa {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .social-btns .btn.facebook:before {
    background-color: #3b5998;
  }
  .social-btns .btn.facebook .fa {
    color: #3b5998;
  }
  .social-btns .btn.twitter:before {
    background-color: #3cf;
  }
  .social-btns .btn.twitter .fa {
    color: #3cf;
  }
  .social-btns .btn.google:before {
    background-color: #dc4a38;
  }
  .social-btns .btn.google .fa {
    color: #dc4a38;
  }
  .social-btns .btn.dribbble:before {
    background-color: #f26798;
  }
  .social-btns .btn.dribbble .fa {
    color: #f26798;
  }
  .social-btns .btn.skype:before {
    background-color: #00aff0;
  }
  .social-btns .btn.skype .fa {
    color: #00aff0;
  }
  .social-btns .btn:focus:before,
  .social-btns .btn:hover:before {
    top: -10%;
    left: -10%;
  }
  .social-btns .btn:focus .fa,
  .social-btns .btn:hover .fa {
    color: #fff;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .social-btns {
    height: 90px;
    margin: auto;
    font-size: 0;
    text-align: center;
    /* position: absolute; */
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
  }
  .social-btns .btn {
    display: inline-block;
    background-color: #fff;
    width: 90px;
    height: 90px;
    line-height: 90px;
    margin: 0 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 28%;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
    opacity: 0.99;
  }
  .social-btns .btn:before {
    content: '';
    width: 120%;
    height: 120%;
    position: absolute;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .social-btns .btn .fa {
    font-size: 38px;
    vertical-align: middle;
  }
  
  .center-it {
    display: flex;
    justify-content: space-evenly;
    padding: 0 95px;
  }

