nav {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  background: black;
  color: white;
  height: 35px;
}
nav > div > button {
  font-size: 18px;
  margin: 3.5px 20px;
  background: purple;
  color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
} 
.centralMSG {
  margin: 5px 20px;
}
.logout-btn {
  position: absolute;
  right: 10px;
  top: 3.5px;
}
.trip-tab link {
  color: #00B7FF;
  margin: 10px;
}

body {
  background: url('/images/backgrounds/australia.jpg'); 
  background-attachment:fixed;
  background-size:cover;
  background-position:center;
  background-repeat: no-repeat;
}

.landing-page {
  display: flex;
  justify-content: center;
  position: relative;
  top: 10vh;
  margin-bottom: 140px;
}
.landing-text {
  width: 465px;
  text-align: center;
  padding: 25px 85px 75px;
  background:white;
  opacity: 0.8;
  border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}
.landing-text h1 {
  font-family: 'Qwigley', cursive, sans-serif;
  margin-top: 50px;
  margin-bottom: -10px;
}

.image-row {
  display: flex;
  justify-content: center;
}
.landing-wrap {
  display: flex;
  flex-flow: row wrap;
}
.circle-divs {
  width: 205px;
  margin: 30px 50px;
}
.circle-divs p {
  text-align: center;
  background:black;
  color:white;
  padding: 6px;
  border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}
.image-cropper {
  height: 200px;
  width: 200px;
  /*position: relative;*/
  overflow: hidden;
  border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
  display: flex;
  justify-content: center;
  background: black;
}
.ergo-circle {
  position: relative;
  bottom: 12px;
  left: 6px;
  height: 100%;
  width: auto;
  margin: 0 auto;
  margin-top: 6%;
}
/* 
.img-stripe {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 220px;
  margin-bottom: 30px;
npm install --save react-awesome-slider
}
.img-stripe img {
  height: 250px;
  width: 420px;
} */


/*------------------ Login Pages ------------------*/
.login-signup {
  background: white;
  border: double;
  border-radius: 25px;
  width: 350px;
  padding-bottom: 15px;
  margin-bottom: 30px;
  opacity: 0.9;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-signup > * {
  display: flex;
  justify-content: center;
}
/* .signup-background {
    background-image: url(/images/backgrounds/cubicle.jpg); 
    background-size: cover; 
    background-repeat: no-repeat; 
  }
  .login-background {
    background-image: url(/images/backgrounds/japanese-doors3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  } */
  
  #login-menu {
    padding: 30px; }
  .error-message {
    color: red;
    font-size: 18px;
    text-align: center;
  }
  #custom-page {
    padding: 50px;
  }
  
  /*------------------ Social Registration Screen ------------------*/
  .form-control {
    font-size: 14px;
    transition: all 0.4s;
    box-shadow: none;
    opacity: 0.5;
  }
  .form-control:focus {
      border-color: #5cb85c;
    }
    .form-control, .btn {
      border-radius: 50px;
      outline: none !important;
    }
  .signup-form {
    width: 480px;
    margin: 0 auto;
    padding: 30px 0;
    opacity: 0.9;
  }
    .signup-form form {
      border-radius: 5px;
      margin-bottom: 20px;
      background: #fff;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 40px;
    }
  .signup-form a {
    color: #5cb85c;
  }    
  .signup-form h2 {
    text-align: center;
    font-size: 34px;
    margin: 10px 0 15px;
  }
  .signup-form .hint-text {
    color: #999;
    text-align: center;
    margin-bottom: 20px;
  }
  .signup-form .form-group {
    margin-bottom: 20px;
  }
    .signup-form .btn {        
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    }
  .signup-btn {
    text-align: center;
    border-color: #5cb85c;
    transition: all 0.4s;
  }
  .signup-btn:hover {
    background: #5cb85c;
    opacity: 0.8;
  }
    .or-seperator {
      /* margin: 50px 0 15px 0; */
      text-align: center;
      border-top: 1px solid #e0e0e0;
    }
    .or-seperator b {
      padding: 0 10px;
      width: 40px;
      height: 40px;
      font-size: 14px;
      text-align: center;
      line-height: 40px;
      background: #fff;
      display: inline-block;
      border: 1px solid #e0e0e0;
      border-radius: 50%;
      position: relative;
      top: -22px;
      z-index: 1;
    }
    .social-btn .btn {
      color: #fff;
      margin: 10px 0 0 15px;
      font-size: 15px;
      border-radius: 50px;
      font-weight: normal;
      border: none;
      transition: all 0.4s;
    }	
  .social-btn .btn:first-child {
    margin-left: 0;
  }
  .social-btn .btn:hover {
    opacity: 0.8;
  }
  .social-btn .btn-primary {
    background: #507cc0;
  }
  .social-btn .btn-info {
    background: #64ccf1;
  }
  .social-btn .btn-danger {
    background: #df4930;
  }
  .social-btn .btn i {
    float: left;
    margin: 3px 10px;
    font-size: 20px;
  }
  
  
  /*------------------ Social Login Screen ------------------*/
  .form-control {
    font-size: 14px;
    transition: all 0.4s;
    box-shadow: none;
  }
  .form-control:focus {
    border-color: #5cb85c;
  }
  .form-control, .btn {
    border-radius: 50px;
    outline: none !important;
  }
  .signin-form {
    width: 425px;
    margin: 0 auto;
    padding: 30px 0;
    opacity: 0.9;
  }
  .signin-form form {
    border-radius: 5px;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 40px;
  }
  .signin-form a {
    color: #5cb85c;
  }    
  .signin-form h2 {
    text-align: center;
    font-size: 34px;
    margin: 10px 0 15px;
  }
  .signin-form .hint-text {
    color: #999;
    text-align: center;
    margin-bottom: 20px;
  }
  .signin-form .form-group {
    margin-bottom: 20px;
  }
  .signin-form .btn {        
    font-size: 18px;
    line-height: 26px;        
    font-weight: bold;
    text-align: center;
  }
  .signin-form .small {
    font-size: 13px;
  }
  .signup-btn {
    text-align: center;
    border-color: #5cb85c;
    transition: all 0.4s;
  }
  .signup-btn:hover {
    background: #5cb85c;
    opacity: 0.8;
  }
  .or-seperator {
    margin: 50px 0 15px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
  }
  .or-seperator b {
    padding: 0 10px;
    width: 40px;
    height: 40px;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -22px;
    z-index: 1;
  }
  .social-btn .btn {
    color: #fff;
    margin: 10px 0 0 30px;
    font-size: 15px;
    width: 55px;
    height: 55px;
    line-height: 38px;
    border-radius: 50%;
    font-weight: normal;
    text-align: center;
    border: none;
    transition: all 0.4s;
  }	
  .social-btn .btn:first-child {
    margin-left: 0;
  }
  .social-btn .btn:hover {
    opacity: 0.8;
  }
  .social-btn .btn-primary {
    background: #507cc0;
  }
  .social-btn .btn-info {
    background: #64ccf1;
  }
  .social-btn .btn-danger {
    background: #df4930;
  }
  .social-btn .btn i {
    font-size: 20px;
  }
  
  .social-btns .btn,
  .social-btns .btn:before,
  .social-btns .btn .fa {
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
  }
  .social-btns .btn:before {
    top: 90%;
    left: -110%;
  }
  .social-btns .btn .fa {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .social-btns .btn.facebook:before {
    background-color: #3b5998;
  }
  .social-btns .btn.facebook .fa {
    color: #3b5998;
  }
  .social-btns .btn.twitter:before {
    background-color: #3cf;
  }
  .social-btns .btn.twitter .fa {
    color: #3cf;
  }
  .social-btns .btn.google:before {
    background-color: #dc4a38;
  }
  .social-btns .btn.google .fa {
    color: #dc4a38;
  }
  .social-btns .btn.dribbble:before {
    background-color: #f26798;
  }
  .social-btns .btn.dribbble .fa {
    color: #f26798;
  }
  .social-btns .btn.skype:before {
    background-color: #00aff0;
  }
  .social-btns .btn.skype .fa {
    color: #00aff0;
  }
  .social-btns .btn:focus:before,
  .social-btns .btn:hover:before {
    top: -10%;
    left: -10%;
  }
  .social-btns .btn:focus .fa,
  .social-btns .btn:hover .fa {
    color: #fff;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .social-btns {
    height: 90px;
    margin: auto;
    font-size: 0;
    text-align: center;
    /* position: absolute; */
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
  }
  .social-btns .btn {
    display: inline-block;
    background-color: #fff;
    width: 90px;
    height: 90px;
    line-height: 90px;
    margin: 0 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 28%;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
    opacity: 0.99;
  }
  .social-btns .btn:before {
    content: '';
    width: 120%;
    height: 120%;
    position: absolute;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .social-btns .btn .fa {
    font-size: 38px;
    vertical-align: middle;
  }
  
  .center-it {
    display: flex;
    justify-content: space-evenly;
    padding: 0 95px;
  }

